.btn-main {
    position: relative;


}

.btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2em;
    background-color: white;

    color: brown;
    border-radius: 50%;
}

.btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: red;
    color: white;
}